:root {
    --base: #E9D5CC;
    --lightBLue: #E4EDFD;
    --black: #1E1E1E;
    --gray: #999999;
    --lightGray: #EAEAEA;
    --white: #FFFFFF;
    --darkWhite: #FBFBFB;
    --red: #FF0000;
    --lightGreen: #b0efb0

}