.tableItem {
    display: flex;
    gap: 8px;
}

.title {
    font-weight: bold;
    margin-bottom: 16px;
}

.button {
    margin-top: 8px;
}

.wrapper {
    display: flex;
    gap: 80px
}

.closeIcon {
    height: 16px;
    width: 16px;
    color: #e1d2b7;
    cursor: pointer;
}
